.Sidebar{
    float:left;
    border-width: 2px;
    border-style: solid;
    border-top: none;
    height: 100vh;
    padding: 0px;
}

.sideBarTitles{
    height: 6%;
    vertical-align: middle;
    margin-left: 0px;
    margin-right: 0px;
    background-color: lightgrey;
}


.dishName{
    float: left;
}

.cost{
    float: right;
    text-align: center;
}

.btnContainer{
    padding-top: 20px;
    text-align: center;
}
