#dinnerOverview {
    text-align: center;
    vertical-align: center;
    padding: 30px;
}

#goBackButton {
    font-size: 30px;
}

#recipeButtonContainer {
    padding-top: 20px;
    text-align: center;
}

#printRecipeButton {
    font-size: 40px;
}