#dinnerOverview {
    text-align: center;
    vertical-align: center;
    padding: 30px;
}

#goBackButton {
    font-size: 30px;
}

#recipeButtonContainer {
    padding-top: 20px;
    text-align: center;
}

#printRecipeButton {
    font-size: 40px;
}

.dishBtn{
    width: 100%;
    border-radius: 0;
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
}

.foodPic{
    width: 100% ;
    height: 300px;
    object-fit: cover;
}

.imgCont{
padding-bottom: 20px;
height: auto;
float: left;
}

